@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    In the MiniProject012 I have seen how to CRUD countries in ASP.NET Web Core with using Razor Pages
</div>
